
<div class="row">
    <!--Pasta Dental-->
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="~/Images/Productos/pasta_dental.jpg">
                <span class="card-title blue-text darken-4"><b>Pasta Dental</b></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="card-content blue-text">
                <p>Colgate</p>
                <p>Precio: Q 20.00</p>
            </div>
        </div>
    </div>
    <!--Desodorante-->
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="~/Images/Productos/desodorante.jpg">
                <span class="card-title blue-text darken-4"><b>Desodorante</b></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="card-content blue-text">
                <p>Axe</p>
                <p>Precio: Q 30.00</p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="~/Images/Productos/shampoo.jpg">
                <span class="card-title blue-text darken-4"><b>Shampoo</b></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="card-content blue-text">
                <p>Head-Shoulder</p>
                <p>Precio: Q 20.00</p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="~/Images/Productos/toallas_femeninas.jpg">
                <span class="card-title blue-text darken-4"><b>Toallas Femeninas</b></span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
            <div class="card-content blue-text">
                <p>Kotex :v</p>
                <p>Precio: Q 20.00</p>
            </div>
        </div>
    </div>
</div>